/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  }
	h1 { color:#B61C52;text-align: center;}
	h2 { color:#887A6D;}
