/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #FFFFFF;}

h1 { color:#B61C52;
    text-align: center;}

 h2 { color:#887A6D;}

.form-input{
  display: block;
  width: 40%;
  height: 34px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  float: left;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.questionBox, .replyBox{
  width: 70%;
  padding: 6px;
}

.questionBox{
  background-color: #CCCCCC;
}

.loveButton{
  float: right;
  background-color: #FFFFFF;
  color:#B61C52;
  border-color:#B61C52;
}

.loveButton:hover, .loved{
  background:#B61C52;
  border-color:#B61C52;
  color: #FFFFFF;
}

.replyBox{
  background-color: #D1ACA4;
  float: right;
  margin-top: 5px;
}

.btn-success, .btn-primary {
color: #D1ACA4;
background-color: #B61C52;
border-color: #B61C52;
}

a{
  color:#B61C52;
  text-decoration: none;
}

a:hover{
  color:#D1ACA4;
  text-decoration: none;
}

.col-md-12 {
  width: 70%;
  float: clear !important;
}

.btn-success:hover{
  background-color:#B61C52;;
  border-color: #B61C52;
  color: #FFFFFF;
}